
header{
    color: rgb(61, 56, 56);
    font: bold 16pt Arial;
    text-align: center;
}

section{
    background: rgb(202, 190, 190);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.34);
}

div{
    text-align: center;
}

div#foto{
    height: 300px;
}

div#view{
    padding: 30px;
    height: 30px;
}

img{
    border-radius: 50%;
    width: 150px;
    height: 200px;
}

#selectbox{
    font: normal 12pt Arial;
    color: rgb(119, 60, 60);
    text-align: center;
}

footer{
    color: rgb(50, 43, 43);
    font: 9pt Arial;
    text-align: center;
    font-style: italic;
}